* {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1200px;
}
.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slider {
  position: relative;
  text-align: center;
  top: 10px;
}
.slides article {
  width: 25%;
  float: left;
}
.slides .slider-imgs {
  width: 50%;
  line-height: 0;
}
.overflow {
  width: 100%;
  overflow: hidden;
}
article img {
  width: 100%;
}
#desktop:checked ~ #slider {
  max-width: 960px;
}

#control1:checked ~ #controls label:nth-child(4),
#control2:checked ~ #controls label:nth-child(1),
#control3:checked ~ #controls label:nth-child(2),
#control4:checked ~ #controls label:nth-child(3) {
  background: url(img/jake.jpg);
  float: left;
  margin: 0 0 0 -84px;
  display: block;
  height: 68px;
  width: 68px;
}

#control1:checked ~ #controls label:nth-child(2),
#control2:checked ~ #controls label:nth-child(3),
#control3:checked ~ #controls label:nth-child(4),
#control4:checked ~ #controls label:nth-child(1) {
  background: url(img/jake.jpg);
  float: right;
  margin: 0 -84px 0 0;
  display: block;
  height: 68px;
  width: 68px;
}

label,
a {
  cursor: pointer;
}
