* {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1200px;
}
.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel {
  width: 50%;
  text-align: center;
}
.item-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.item {
  display: none;
  position: relative;
  margin: 0 auto;
  animation: 0.5s ease-in-out;
}
.active,
.next {
  display: block;
}
.next {
  position: absolute;
  top: 0;
  width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 20%;
  font-size: 32px;
  justify-content: space-between;
  align-items: flex-start;
}
.mem-desc {
  padding: 10px;
}

.to-left {
  animation-name: left;
}
.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}
.from-right {
  animation-name: right;
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.dots-wrapper {
  position: relative;
  margin-top: -70px;
  left: 26%;
}
.dot {
  width: 20px;
  height: 20px;
  background-color: #29477f;
  border: 3px solid #29477f;
  cursor: pointer;
  border-radius: 50%;
}
.dot:hover {
  background-color: #4577d4;
  border: 3px solid #4577d4;
}
.pressed {
  border: 3px solid #6890d4;
  background-color: transparent;
}
@media (max-width: 1200px) {
  .mem-desc {
    padding-top: 50px;
  }
  .dots-wrapper {
    position: relative;
    margin-top: -108px;
    left: -18%;
  }
}
@media (max-width: 600px) {
  .container {
    min-width: 600px;
  }
  .carousel {
    width: 100%;
  }
}
